<!DOCTYPE html>
<html
    lang="en"
    th:replace="~{base :: parent(~{::#content},~{::script}, 'Profile')}"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div id="content">
            <!-- Sidebar -->
            <div th:if="${loggedInUser}">
                <section
                    data-th-replace="~{user/sidebar :: user-sidebar}"
                ></section>
            </div>
            <div class="p-4 mt-36 sm:mt-28 sm:ml-64 min-h-full">
                <h1>This is Profile page</h1>
                <a data-th-href="@{'/user/logout'}">Logout</a>
            </div>
        </div>
        <script></script>
    </body>
</html>
