<!DOCTYPE html>
<html
    lang="en"
    th:replace="~{base :: parent(~{::#content},~{::script}, 'About')}"
>
    <head> </head>
    <body>
        <section id="content">
            <h1>Welcome to about page</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptates totam facere ullam eveniet dolorum sint culpa,
                temporibus sequi perspiciatis fuga quas odit voluptas tempora
                porro asperiores sit nulla. Esse, assumenda?
            </p>
        </section>
        <script></script>
    </body>
</html>
